.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: rgba(50, 50, 50, 0.807);
}

.modal-show {
  visibility: visible;
  opacity: 1;
}

.modal-hide {
  visibility: hidden;
  opacity: 0;
}

.modal-content {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  z-index: 20;
  transition: transform 0.3s ease;
  background-color: #1a1b21;
  padding: 1rem 2rem;
}
.modal-header {
  margin: 1.5rem 0;
  h2 {
    color: white;
    margin: 10px 0;
    font-size: 20px;
  }
}
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.model-footer {
  display: flex;
  justify-content: flex-end;
}
