.list-container {
  margin-bottom: 10px;
  min-height: 50px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  text-decoration: none;
  h3 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 1rem 0;
  }
}
