.note-container {
  padding-top: 80px;
  width: 100vw;
}
.rpv-core__inner-page {
  background-color: red !important;
}
.rpv-core__doc-error {
  background-color: blue !important;
}
.rpv-core__doc-error-text {
  background-color: green !important;
  overflow: hidden;
  font-size: 10px;
}
.rpv-core__doc-loading{
  background-color: red !important; 
}
